@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet';

:root {
	--dk-gray-100: #F3F4F6;
	--dk-gray-200: #E5E7EB;
	--dk-gray-300: #D1D5DB;
	--dk-gray-400: #9CA3AF;
	--dk-gray-500: #6B7280;
	--dk-gray-600: #4B5563;
	--dk-gray-700: #374151;
	--dk-gray-800: #1F2937;
	--dk-gray-900: #111827;
	--dk-dark-bg: #313348;
	--dk-darker-bg: #2a2b3d;
	--navbar-bg-color: #6f6486;
	--sidebar-bg-color: #252636;
	--sidebar-width: 250px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: var(--dk-darker-bg);
	font-size: .925rem;
}


/** --------------------------------
 -- statis
-------------------------------- */
.statis {
	color: var(--dk-gray-100);
}

.statis .box {
	position: relative;
	overflow: hidden;
	border-radius: 3px;
  background-color: var(--cyan);
}

.statis .box h3:after {
	content: "";
	height: 2px;
	width: 70%;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.12);
	display: block;
	margin-top: 10px;
}

.statis .box i {
	position: absolute;
	height: 70px;
	width: 70px;
	font-size: 22px;
	padding: 15px;
	top: -25px;
	left: -25px;
	background-color: rgba(255, 255, 255, 0.15);
	line-height: 60px;
	text-align: right;
	border-radius: 50%;
}

/* Start media query */

@media (max-width: 767px) {
	
	.statistics .box {
		margin-bottom: 25px !important;
	}
}

.dashboard{
    background-color: white;
    padding: 10px;
    margin: 10px;
}

.dashboard .separador {
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    background-color: var(--dk-gray-500);
    flex-direction: column;
    align-items: center;
    color: white;
}
.Dashboard .separador p{
    color: white;
}
	
/* banner */
.admin {
    background-color: #9170d8;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

.estadisticas{
  background-color: #9170d8;
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}
/* .Dashboard .admin .box {
    width: 250px;
    height: 180px;
    padding: 20px;
    margin:20px;
    background: rgb(169, 106, 211);
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 300ms;
  }
  .Dashboard .admin .box i.icon,
  .Dashboard .admin .box h4,
  .Dashboard .admin .box p {
    position:relative;
    z-index: 1;
    transition: all 200ms;
  }
  .Dashboard .admin .box:hover {
    transform: translate(5px , -5px);
    box-shadow: -10px 10px 20px -10px rgb(0, 0, 0, .5);
  }
  .Dashboard .admin .box i.icon {
    font-size: 40px;
    color: rgb(24, 211, 124);
    transform: translateY(30px);
  }
  .Dashboard .admin .box:hover i.icon {
    color: white;
    font-size: 30px;
    transform: translateY(0);
  }
  
  .Dashboard .admin .box h4,
  .Dashboard .admin .box p{
    margin-top: 10px;
  }
  .Dashboard .admin .box h4 {
    font-size: 30px;
    transform: translateY(30px);
  }
  .Dashboard .admin .box:hover h4 {
    transform: translateY(0);
    color: white;
  }
  .Dashboard .admin .box p {
    font-size: 14px;
    transform: translateY(100px);
    opacity: 0;
  }
  .Dashboard .admin .box:hover p {
    transform: translateY(0);
    opacity: 1;
    color: white;
  }
  .Dashboard .admin .box .background_hover {
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    top: 250px;
    left: -170px;
    border-radius: 100%;
    transition:  all 300ms;
    background: linear-gradient(to bottom, rgb(255,115,0), rgb(255, 149, 48));
    
  }
  .Dashboard .admin .box:hover .background_hover {
    width:400px;
    height: 400px;
    modifica la posicion del efecto circulo
    top: -70px; 
    left: -70px;
  }
  
    .Dashboard .admin .box-menu{
        width: 100%;
        height: 330px;
        padding: 20px;
        margin:20px;
        background: #fff;
        text-align: center;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: all 300ms;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .Dashboard .admin .box-menu h4{
        font-size: 30px;
        width: 100%;
    }
    .Dashboard .admin .box-menu h5{
        font-size: 20px;
        width: 100%;
    }
    .Dashboard .admin .box-menu .producto{
        width: 20%
    }
    .Dashboard .admin .box-menu img{
        width: 200px;
    }
 */
    /* Creacion de productos */
.Crear-Producto h1{
    text-transform: uppercase;
}
.Crear-Producto form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 475px;
    align-items: center;
    margin: 0 auto 40px;
}
.Crear-Producto form .form-control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    align-items: center;
    margin: 20px auto;
}
.Crear-Producto form .form-control select{
    width: 350px;
    margin: 10px 0;
}
.Crear-Producto form .MuiFormControl-root.css-1nrlq1o-MuiFormControl-root{
    width: 350px;
}

