.crear-editar .adminTop{
    display: flex;
    width: 100%;
    background: var(--dorado);
    align-items: center;
    margin-bottom: 10px;
}
.crear-editar .adminTop h1{
    color: white;
    text-align: center;
    width: 90%;
}
.crear-editar .adminTop .btncrear{
    width: 10%;
    display: flex;
    justify-content:center;
}

.crear-editar a .adminTop .crear{
    width: 150px;
}
.crear-editar .btn{
    color: white;
    background: var(--cyan);
    font-weight: 600;
}
.crear-editar button.btn .fas i{
    color: white;
}
.crear-editar a .adminTop .btn:hover{
    background-color: var(--cyan);
}
.crear-editar form {
    margin: 0 20px 20px;
}

.crear-editar form .contenedor-checks{
    display: flex;
    background-color: white;
    color: var(--azulPetroleo);
    flex-direction: row;
    justify-content: space-around;
    border-radius: 5px;
    padding: 16px 12px;
}

.crear-editar form .agregar{
    background: var(--cyan);
    padding: 20px;
    border-radius: 20px;
}

.crear-editar form .form-floating{
    padding: 8px 0 ;
}

.crear-editar form .form-floating small{
    color: white;
}
.crear-editar form .form-floating p{
    color: white;
}
.crear-editar form .btn{
    width: 400px;
    color: white;
    background: var(--dorado)
}
.crear-editar form .btn:hover{
    color: white;
}
@media (min-width:768px){
    .crear-editar form {
        margin: 0 90px 20px;
    }
}
@media (min-width:1024px){
    .crear-editar form {
        margin: 0 100px 20px;
    }
}