@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700,800);
@import url(https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,400;1,500&display=swap);

.container{
    background:#fff6e9;
    border-radius: 10px;

   width: 100%;
   max-width: 1200px;
   margin: 20px auto;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    grid-gap: 20px;
}
.header{
    
    margin: 20px 20px;
    font-weight: 800;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
}
.header span{
  font-family: 'open sans', sans-serif;
   font-size: 20px;
  text-decoration: none;
  font-weight: 800;
  color:#c79557;
}

.text1{
    
    /* margin: 5px; */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
    min-height: 100px;
    /* grid-row-start: 2;
    grid-row-end: 2; */

    
}
.text1 p{
  font-size: 16px;
  font-weight: 500;
  font-family: 'Fira Sans Condensed', sans-serif;
}


.text2{
   
  background: #f7e1c6;
    font-weight: 400;
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;
    /* background: #fff6e9; */
    grid-column: 4/5;
    min-height: 100px;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 5;
    grid-row-end: 5;
}
.cardContainer{
    grid-gap: 20px;
    justify-content: center;
    grid-column: span 3;
    text-align: center;
    display: flex;
  
    flex-wrap: wrap;
}

.cardClient {
  background:#808080;
  width: 13rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid  #c79557;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.cardClient:hover {
  transform: translateY(-10px);
}

.userPicture {
  overflow: hidden;
  object-fit:cover;
  width: 6rem;
  height: 6rem;
  border: 4px solid  #c79557;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.cardImage{
  height: 110px;
  width: 110px;
}
.userPicture .svg {
  width: 2.5rem;
  fill: currentColor;
}

.nameClient {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.nameClient span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}

.socialMedia:before {
  content: " ";
  display: block;
  width: 100%;
  height: 3px;
  margin: 15px 0;
  background: #c79557;
  
}

.socialMedia a {
  position: relative;
  margin-right: 17px;
  text-decoration: none;
  color: inherit;
 
}

.socialMedia a:last-child {
  margin-right: 0;
 
}

.socialMedia a .svg {
  width: 2rem;
  fill: currentColor;
  
}

/*-- Tooltip Social Media --*/
.tooltipSocial {
  background:  #262626;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}

.tooltipSocial:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.socialMedia a .tooltipSocial:after {
  border-top-color: #262626;
}

.socialMedia a:hover .tooltipSocial {
  opacity: 1;
  transform: translate(-50%, -130%);
}

.techIcons{
    width: 75px;
    height: 60px;
    /* padding: 2px; */
    margin: 5px 5px;
}



@media screen and (max-width: 768px){

.text1{
    
    justify-content: center;
    text-align: center;
    min-height: 100px;
    margin: 30px 30px;
    grid-row-start: 2;
    grid-row-end: 4;
}

}